body {
    background-color: DB7093;
}
h1 {
    font-family: Marker Felt, fantasy;
    color: 660033;
    text-align: center;
}
h2 {
    font-family: Bradley Hand, cursive;
    text-align: center;
}
p1 {
    font-family: Courier New, monospace;
    text-align: center;
}
