body {
    background-color: FFC0CB;
}
h1 {
    font-family: Marker Felt, fantasy;
    color: 660033;
    text-align: center;
}
h2 {
    font-family: Bradley Hand, cursive;
    text-align: center;
    color: 990066;
}
p1 {
    font-family: Courier New, monospace;
    text-align: center;
    color: 000000;
